.pillarsContainer {
    /* grid stuff */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    column-gap: 75px;
    row-gap: 50px;
    margin:  3% auto 0 auto;
    width: 1000px;
    justify-items: center;
}

.gridItem {
    max-width: 440px;
}

.pillarsContainer img {
    border-radius: 20px;
    max-width: 100%;
    height: auto;
}

.title {
 font-size: 2rem;
 padding-bottom: 20px;

 font-family: "Nunito";
 font-weight: 300;
}

.description {
    font-size: 1.25rem;
    font-weight: 200;
}
