@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&family=Raleway:wght@200;400;600&display=swap');
* {
  padding:0;
  margin:0;
}

body {
  margin: 0;
  padding: 0;
  /* Fix this when making this mobile responsive */
  min-width:1200px;
  font-family: 'Raleway', 'sans-serif';
}